*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: #202020;
    --gray: #eeeeee;
    --red: #e10c0c;
    --font: 'Poppins', sans-serif;
}
.App-card{
    width: 80%;
}
.App-button{
    outline: none;
    box-shadow: none;
    border: none;
}
.App-button:focus{
    box-shadow: none;
}
.App-title{
    font: 400 1.5rem var(--font);
    width: 50%;
}
.App-input{
    width: 80%;
    outline: none;
    font: 400 1rem var(--font);
}
.App-TodoList{
    background-color: var(--gray);
}
.App-text--noTask{
    font: 400 1rem var(--font);
}

.App-todo--complete{
    text-decoration: line-through;
    font-weight: 600;
    font-style: italic;
}

.App-button--delete{
    border: none;
    outline: none;
    background-color: transparent;
}

/* Styles of Boostrap */
.form-check-input:checked{
    background-color: var(--black);
    border-color: var(--red);
}
.form-check-input:focus{
    border-color: var(--black);
    outline: 0;
    box-shadow:none;
}

/* Media Query --> Responsive */
@media only screen and (max-width: 993px) {
    .App-card{
        width: 90%;
    }
    .form-control{
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
    }
    .App-input{
        width: 100%;
        margin: 5px 0;
    }
    .App-button{
        width: 100%;
    }
}